
<div id="formProyectos">

    <div class="fish" id="fish"></div>
    <div class="fish" id="fish2"></div>
    
    <form id="waterform"  method="post" (ngSubmit)="onUpdate()">
    
    <div class="formgroup" id="name-form">
        <label for="name">Titulo del Proyecto</label>
        <input type="text" id="name" name="name" value={{proyecto.nombreProy}} />
    </div>
    
    <div class="formgroup" id="message-form">
        <label for="message">Descripcion</label>
        <textarea id="message" name="message" value={{proyecto.descripcion}}></textarea>
    </div>
    
    
        <input type="submit" value="Confirmar" />
    </form>
    </div>
