<div id="formEducacion">

    <div class="fish" id="fish"></div>
    <div class="fish" id="fish2"></div>
    
    <form id="waterform" method="post" (submit)=onCreate(titulo.value,url.value,dsc.value)>
    
    <div class="formgroup" id="name-form">
        <label for="name">Titulo</label>
        <input type="text" id="titulo" #titulo name="name" value="{{educacion.titulo}}" />
    </div>
    
    <div class="formgroup" id="email-form">
        <label for="email">URL imagen</label>
        <input type="email" id="urlImg" #url name="email" />
    </div>
    
    <div class="formgroup" id="message-form">
        <label for="message">Descripcion</label>
        <textarea id="descripcionEduc" #dsc name="message"></textarea>
    </div>
    
        <input type="submit" value="Confirmar" />
    </form>
    </div>
    
