
<div id="formExperiencia">

    <div class="fish" id="fish"></div>
    <div class="fish" id="fish2"></div>
    
    <form id="waterform" method="post" (submit)="onCreate(puesto.value,cantAnios.value,dsc.value)">
    
    <div class="formgroup" id="name-form">
        <label for="name">Puesto</label>
        <input type="text" #puesto id="puesto" name="name" value="" />
    </div>
    
    <div class="formgroup" id="email-form">
        <label for="email">Cantidad de años</label>
        <input type="email" #cantAnios id="aniosExp" name="email" value="" />
    </div>
    
    <div class="formgroup" id="message-form">
        <label for="message">Descripcion</label>
        <textarea id="descripcionExp" #dsc name="message" value="" ></textarea>
    </div>
    
        <input type="submit" value="Confirmar" />
    </form>
    </div>
