
<div id="formSkills">

    <div class="fish" id="fish"></div>
    <div class="fish" id="fish2"></div>
    
    <form id="waterform" method="post" (submit)="onUpdate()">
    
    <div class="formgroup" id="name-form">
        <label for="name">Porcentaje</label>
        <input type="text" id="porcentajeSkill" name="name" value="{{skill.porcentaje}}" />
    </div>
    
    <div class="formgroup" id="email-form">
        <label for="email">URL Imagen</label>
        <input type="email" id="urlIMG" name="email" value={{skill.urlImg}} />
    </div>
    
    
        <input type="submit" value="Confirmar" />
    </form>
    </div>
