
<div id="formProyectos">

    <div class="fish" id="fish"></div>
    <div class="fish" id="fish2"></div>
    
    <form id="waterform"  method="post" (ngSubmit)="onCreate(titulo.value, dsc.value)">
    
    <div class="formgroup" id="name-form">
        <label for="name">Titulo del Proyecto</label>
        <input type="text" id="name" #titulo name="name" value="" />
    </div>
    
    <div class="formgroup" id="message-form">
        <label for="message">Descripcion</label>
        <textarea id="message"#dsc name="message" value=""></textarea>
    </div>
    
    
        <input type="submit" value="Confirmar" />
    </form>
    </div>
